.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 31.5%);
  grid-gap: 2rem;
  padding: 2rem 0rem;
  justify-content: center;
}

.grid-card {
  border: 1px solid darkgray;
  transition: 0.3s;
  padding: 1rem;
  height: 460.33px;
  min-height: fit-content;
}

.grid-cardpicturesize {
  width: 100%;
  height: 70%;
}

.grid-cardpicturesize img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-card h3,
.grid-card p,
.grid-card figure {
  margin-block-end: 1rem;
}

.grid-card h3 {
  letter-spacing: 0.07rem;
  line-height: 2.2rem;
}

.grid-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.grid-card a {
  text-decoration: none;
  color: black;
}
.grid-card a:hover {
  color: #a28474;
  font-style: italic;
}
.grid-card i {
  margin-inline-start: 1rem;
}

.order-list {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  width: 30rem;
  background-color: white;
  border: 1px solid black;
  padding: 2rem;
  z-index: 999;
  line-height: 2.5rem;
}

.order-list ul li {
  padding: 1.5rem 0;
  border-block-end: 0.5px solid darkgray;
}
#basket-icon {
  display: none;
  color: #a28474;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 999;
  background-color: whitesmoke;
  border: 0.5px solid black;
  padding: 2rem;
  font-size: 2rem;
}

@media only screen and (max-width: 425px) {
  .grid-container {
    grid-template-columns: repeat(1, auto);
    padding: 1rem 3rem;
  }
  .grid-cardpicturesize {
    width: 100%;
    height: 28rem;
  }

  .search-input {
    margin-block-end: 1rem;
    margin-inline-start: 0;
  }

  .page-buttons-flex {
    justify-content: center;
  }
}
