<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head th:replace="~{index::head}"></head>
  <body>
    <header th:replace="~{index::header}"></header>
    <main>
      <section class="product-section">
        <figure>
          <img th:src="${imageURL}" alt="Product Image" />
        </figure>
        <h2 th:text="${product.name}">Tuotteen nimi</h2>
        <p
          th:text="${product.price} + '€'"
          style="font-size: 2rem; font-weight: 500"
        >
          Tuotteen hinta
        </p>
        <p th:text="${product.description}" style="line-height: 2rem">
          Tuotteen kuvaus
        </p>
        <button class="site-button">
          <a th:href="@{/kulutustuotteet}"
            ><i class="fa-solid fa-arrow-left-long"></i> Takaisin</a
          >
        </button>
      </section>
    </main>
    <div th:replace="~{index::footer}"></div>
  </body>
</html>
